<div ng-controller="IndexController">

    <div class="timeline" ng-show="isLoggedIn()" ng-init="isLoggedIn() ? refreshFeed() : null">

        <div class="row container-fluid">

            <div class="row text-center margin-bottom-50" ng-repeat="media in feed">

                <!--Image-->
                <div class="col-md-7">

                    <a ng-href="#media/{{media.id}}/{{media.type}}"><img ng-src="{{media.images.standard_resolution.url}}"></a>

                </div>

                <!--Comment and General Info Box-->
                <div class="col-md-5">

                    <div class="detailBox">
                        <div class="titleBox">
                            <a ng-href="#/user/{{media.user.id}}/{{media.user.username}}"> <label style="cursor: pointer;">{{media.user.username}}</label> </a>

                        </div>
                        <div class="commentBox">
                            <p class="taskDescription" ng-if="media.created_time">{{media.created_time * 1000 | date:'MMM d, y HH:mm:ss'}}</p>
                            <p class="taskDescription">{{media.caption.text}}</p>
                            <p class="taskDescription">Filter : {{media.filter}}</p>
                            <a class="btn btn-primary" ng-href="{{media.images.standard_resolution.url}}" download>Download</a>
                        </div>

                        <div class="likesBox">
                            <span class="badge">{{media.likes.count}}</span>
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            <a ng-repeat="like in media.likes.data" class="label label-success" style="margin: 5px;" ng-href="#user/{{like.id}}/{{like.username}}">
                                {{like.username}}
                            </a>

                        </div>

                        <div class="actionBox">
                            <ul class="commentList">
                                <li ng-repeat="comment in media.comments.data">
                                    <div class="commenterImage">
                                        <img ng-src="{{comment.from.profile_picture}}" />

                                    </div>
                                    <div class="commentText">
                                        <a ng-href="#/user/{{comment.from.id}}/{{comment.from.username}}" class="label label-info">{{comment.from.username}}</a>
                                        <p class="">{{comment.text}}</p> <span class="date sub-text">{{comment.created_time * 1000 | date:'MMM d, y HH:mm:ss'}}</span>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

        </div>


        <load-more />

    </div>

    <!--if user not logged in-->
    <div ng-show="!isLoggedIn()">

        <div class="container">
            <div class="row">

                <div class="col-md-4"></div>

                <form class="form-signin mg-btm col-md-4">
                    <h3 class="heading-desc text-center">
                        Connect your Instagram account to use user-based features,
                        Or try the features on navbar ;)
                        </h3>
                    <div class="social-box">
                        <div class="row mg-btm">
                            <div class="col-md-12">
                                <a ng-href="{{authLink}}" class="btn btn-primary btn-block"
                                   ga-track-event="['User','Login Attempt']">
                                    <i class="icon-facebook"></i> Login with Instagram
                                </a>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>

    <error/>

</div>