<div ng-controller="mediaController" ng-init="getMedia()">

    <div class="row text-center">

        <!--Image-->
        <div class="col-md-7">

            <img ng-src="{{media.images.standard_resolution.url}}">

        </div>

        <!--Comment and General Info Box-->
        <div class="col-md-5">

            <div class="col-md-12">

                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- insta-square -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:336px;height:280px"
                     data-ad-client="ca-pub-5122657673462978"
                     data-ad-slot="5000900818"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>

            </div>

            <div class="detailBox col-md-12">
                <div class="titleBox">
                    <a ng-href="#/user/{{media.user.id}}/{{media.user.username}}"
                       ga-track-event="['UserPage', media.user.username]"> <label style="cursor: pointer;">{{media.user.username}}</label> </a>

                </div>
                <div class="commentBox">
                    <p class="taskDescription" ng-if="media.created_time">{{media.created_time * 1000 | date:'MMM d, y HH:mm:ss'}}</p>
                    <p class="taskDescription">{{media.caption.text}}</p>
                    <p class="taskDescription">Filter : {{media.filter}}</p>
                    <a class="btn btn-primary" ng-href="{{media.images.standard_resolution.url}}" download
                       ga-track-event="['Download', media.id]">Download</a>
                    <a class="btn btn-primary" ng-href="{{media.link}}" target="_blank">Show on Instagram</a>
                </div>

                <div class="likesBox">
                    <span class="badge">{{media.likes.count}}</span>
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    <a ng-repeat="like in media.likes.data" class="label label-success" style="margin: 5px;" ng-href="#user/{{like.id}}/{{like.username}}">
                        {{like.username}}
                    </a>

                </div>

                <div class="actionBox">
                    <ul class="commentList">
                        <li ng-repeat="comment in media.comments.data">
                            <div class="commenterImage">
                                <img ng-src="{{comment.from.profile_picture}}" />

                            </div>
                            <div class="commentText">
                                <a ng-href="#/user/{{comment.from.id}}/{{comment.from.username}}" class="label label-info">{{comment.from.username}}</a>
                                <p class="">{{comment.text}}</p> <span class="date sub-text">{{comment.created_time * 1000 | date:'MMM d, y HH:mm:ss'}}</span>

                            </div>
                        </li>

                    </ul>
                    <!--<form class="form-inline" role="form">-->
                        <!--<div class="form-group">-->
                            <!--<input class="form-control" type="text" placeholder="Your comments" ng-model="comment"/>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<button class="btn btn-default" ng-click="addComment()">Add</button>-->
                        <!--</div>-->
                    <!--</form>-->
                </div>
            </div>

            <!--location-->
            <div class="col-md-12" ng-if="map">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a ng-href="#location/{{media.location.id}}">{{media.location.name}}</a></h3>
                    </div>
                    <div class="panel-body">

                        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options"  map-type-id="MapTypeId.SATELLITE">

                            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                            </ui-gmap-marker>

                        </ui-gmap-google-map>

                    </div>
                </div>



            </div>

        </div>

    </div>

</div>