<div ng-controller="searchTagController">

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">#</span>
            <input type="text" class="form-control" placeholder="type username and press enter"
                   aria-describedby="basic-addon1" ng-model="tag" ng-change="search()">
        </div>

    <ul class="list" style="width:auto;">

        <li ng-repeat="tag in tags" ga-track-event="['TagPage',tag.name]">
            <a href="#tag/{{tag.name}}">{{tag.name}}</a> ( Pictures count : {{tag.media_count}})
        </li>
    </ul>

</div>